<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="tweetServiceUrl" value="https://badapi.iqvia.io/api/v1/Tweets"/>
    <add key="resultFileName" value="resultData.txt"/>
    <add key="startDate" value="2016-01-01T00:00:00.0000000Z"/>
    <add key="endDate" value="2017-12-31T23:59:59.9999999Z"/>
  </appSettings>
</configuration>